/build/
/out/
/artifacts/
/local-assets/
!.gitkeep
*.user
*.suo
*.vcxproj.user
*.pdb
*.obj
*.exe
*.dll
/assets/binary-nxvm/*/*
!/assets/binary-nxvm/README.md
!/assets/binary-nxvm/*/
!/assets/binary-nxvm/*/NXVM.ini
