# Bochs project files
/bochx/bochs-2.6/
!/bochx/bochs-2.6/bochs.h
!/bochx/bochs-2.6/config.cc
!/bochx/bochs-2.6/cpu/cpu.cc
!/bochx/bochs-2.6/cpu/paging.cc

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
/nxvm
bochx/bochx

# Automake directories
/autom4te.cache/
.deps/
.dirstamp

# Automake makefiles
/config.h.in~
/Makefile
/config.h
/config.status
/config.log
/stamp-h1

# Astyle trash
*.orig

# Mac OS X trash
.DS_Store
